/*treatment steps section css start*/
.treatment_steps_section {
	padding: 110px 0px 140px;
	background-color: #e3d6c5;
}
.treatment_steps_section .custom_container {
    max-width: 1160px;
    padding: 0px 25px;
    margin: auto;
}
.treatment_steps_section .custom_row {
	margin: 0px -25px;
	position: relative;
	counter-increment: item;
	z-index: 1;
	align-items: center;
}
.treatment_steps_section .custom_col_6,
.treatment_steps_section .custom_col_12 {
	padding: 0px 25px;
}
.treatment_steps_section h3 {
    color: #950308;
    font-family: a-otf-ryumin-pr6n,serif;
    font-size: 60px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 120px;
}
.step_listing h4 {
    color: #595959;
    font-size: 40px;
    font-family: 'Yu Mincho';
    font-weight: 500;
    position: relative;
    padding-left: 100px;
    padding-bottom: 30px;
    line-height: 87px;
}
.step_listing h4 span {
    color: #c3af74;
    transform: rotate(90deg);
    display: inline-block;
    position: absolute;
    left: -50px;
    top: 20px;
    line-height: 40px;
}
.step_listing li:not(:last-child) {
    padding-bottom: 85px;
}
.step_listing li:before {
    content: "0"counter(item);
    display: inline-block;
    position: absolute;
    background-color: #e3d6c5;
    z-index: 1;
    left: 25px;
    top: 0;
    height: 87px;
    width: 100px;
    font-size: 70px;
    line-height: 87px;
    color: #950308;
    font-family: 'Yu Mincho';
    font-weight: 500;
    text-align: center;
}
.step_listing li:not(:last-child):after {
    content: "";
    height: 100%;
    width: 3px;
    background-color: #c3af74;
    position: absolute;
    top: 0;
    left: 74px;
    z-index: -1;
}
.step_listing .step_description p {
    font-size: 25px;
    font-family: 'HiraKakuPro-W3';
    color: #595959;
    line-height: 50px;
}
/*treatment steps section css end*/

/*faq section css start*/
.faq_section {
	padding: 90px 0px 115px;
	background-image: url(../images/faq_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.faq_section h3 {
    color: #950308;
    font-family: a-otf-ryumin-pr6n,serif;
    font-size: 60px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 70px;
}
.faq_section .custom_container {
    max-width: 1115px;
    padding: 0px 35px;
    margin: auto;
}
.single_faq {
	overflow: hidden;
	border-radius: 40px;
}
.single_faq:not(:last-child) {
	margin-bottom: 42px;
}
.single_faq .single_faq_question {
	padding: 35px 45px 25px;
	background-color: #c3af74;
}
.single_faq .single_faq_question h4 {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 30px;
	color: #ffffff;
	padding-left: 50px;
	position: relative;
	font-weight: 500;
}
.single_faq .single_faq_question h4:before {
	content: "Q .";
	position: absolute;
	left: 0;
}
.single_faq .single_faq_answer {
    padding: 45px 35px 35px 130px;
    background-color: #ffffff;
    position: relative;
    display: inline-block;
    width: 100%;
}
.single_faq .single_faq_answer:before {
    content: "A .";
    position: absolute;
    left: 85px;
    top: 45px;
    font-family: 'HiraKakuPro-W3';
    font-size: 25px;
    line-height: 50px;
    color: #595959;
    font-weight: 300;
}
.single_faq .single_faq_answer li,
.single_faq .single_faq_answer p {
	font-family: 'HiraKakuPro-W3';
	font-size: 25px;
	color: #595959;
	font-weight: 300;
	line-height: 50px;
}
.single_faq .single_faq_answer li {
	padding-left: 37px;
	line-height: 40px;
	counter-increment: points;
	position: relative;
}
.single_faq .single_faq_answer li:before {
    content: counter(points);
    width: 25px;
    height: 25px;
    font-family: 'HiraKakuPro-W3';
    line-height: 34px;
    font-size: 25px;
    color: #595959;
    font-weight: 300;
    border: 1px solid #595959;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 0;
    margin: auto;
    text-align: center;
}
.single_faq .single_faq_answer a.pdf_button {
    float: right;
    margin-top: -35px;
}
/*faq section css end*/