/*fonts css start*/
@font-face {
    font-family: 'Snell Roundhand';
    src: url('../fonts/SnellRoundhand-BoldScript.eot');
    src: url('../fonts/SnellRoundhand-BoldScript.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SnellRoundhand-BoldScript.woff2') format('woff2'),
        url('../fonts/SnellRoundhand-BoldScript.woff') format('woff'),
        url('../fonts/SnellRoundhand-BoldScript.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Yu Mincho';
    src: url('../fonts/YuMincho-Regular.eot');
    src: url('../fonts/YuMincho-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/YuMincho-Regular.woff2') format('woff2'),
        url('../fonts/YuMincho-Regular.woff') format('woff'),
        url('../fonts/YuMincho-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*fonts css end*/

/*common css start*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body, h1, h2, h3, h4, h5, h6, ul, li, p, a, span{
    margin: 0px;
    padding: 0px;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -font-smoothing: antialiased;
    font-family: 'Yu Mincho';
}
body.no_scroll {
    overflow: hidden;
}
a, button, input[type=submit], select{
    cursor: pointer;
}
a, a:focus, 
button, button:hover, button:focus,
input, input:hover, input:focus, 
textarea, textarea:hover, textarea:focus,
select, select:hover, select:focus{
    outline: 0;
    box-shadow: none;
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}
img{
    max-width: 100%;
    display: block;
}
.cpc {
    display: block !important;
}
.csp {
    display: none !important;
}
@media (max-width: 900px){
    .cpc{
        display: none !important;
    }
    .csp{
        display: block !important;
    }
}
/*common css end*/

/*page pre-loader css start*/
.loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    pointer-events: none;
    background-color: #fff;
}
.loader-wrapper .loader {
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    margin: auto;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border-top: 3px solid rgba(62, 174, 230, 0.2);
    border-right: 3px solid rgba(62, 174, 230, 0.2);
    border-bottom: 3px solid rgba(62, 174, 230, 0.2);
    border-left: 3px solid rgba(62, 174, 230, 0.8);
    -webkit-animation: loaderSpin 1.5s infinite linear;
    animation: loaderSpin 1.5s infinite linear;
}
@-webkit-keyframes loaderSpin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loaderSpin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*page pre-loader css end*/

/*animations css start*/
.io {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: opacity, transform;
}
.io.move {
    opacity: 1 !important;
    -webkit-transform: translate3d(0, 0, 0) scale(1) rotate(0deg) !important;
    transform: translate3d(0, 0, 0) scale(1) rotate(0deg) !important;
}
.io.fade {
    opacity: 0;
}
.io.lr {
    -webkit-transform: translate3d(-80px, 0, 0);
    transform: translate3d(-80px, 0, 0);
}
.io.rl {
    -webkit-transform: translate3d(80px, 0, 0);
    transform: translate3d(80px, 0, 0); 
}
.io.upL {
    -webkit-transform: translate3d(0, 80px, 0);
    transform: translate3d(0, 80px, 0);
}
.io.upS {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}
.io.downL {
    -webkit-transform: translate3d(0, -80px, 0);
    transform: translate3d(0, -80px, 0);
}
.io.downS {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
}
.io.scaleUp {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}
.io.scaleDown {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.io.rotateL {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}
.io.rotateR {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
.io.delay.delay1 {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
}
.io.delay.delay2 {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.23s, -webkit-transform 1.0s ease 0.23s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.23s, transform 1.0s ease 0.23s;
}
.io.delay.delay3 {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.46s, -webkit-transform 1.0s ease 0.46s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.46s, transform 1.0s ease 0.46s;
}
.io.delay.delay4 {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.69s, -webkit-transform 1.0s ease 0.69s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.69s, transform 1.0s ease 0.69s;
}
.io.delay a {
    -webkit-transition: none;
    transition: none;
}
.io.delay .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: opacity, transform;
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}
.io.delay.delay1 .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
}
.io.delay.delay2 .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.73s, -webkit-transform 1.0s ease 0.73s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.73s, transform 1.0s ease 0.73s;
}
.io.delay.delay3 .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.96s, -webkit-transform 1.0s ease 0.96s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.96s, transform 1.0s ease 0.96s;
}
.io.delay.delay4 .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 1.19s, -webkit-transform 1.0s ease 1.19s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 1.19s, transform 1.0s ease 1.19s;
}
.io.delay.move .delay_child {
    opacity: 1 !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}
@media (max-width: 900px) {
    .io.delay.delay1 {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    }
    .io.delay.delay2 {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    }
    .io.delay.delay3 {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    }
    .io.delay.delay4 {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    }
    .io.delay .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
    .io.delay.delay1 .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
    .io.delay.delay2 .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
    .io.delay.delay3 .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
    .io.delay.delay4 .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
}
/*animations css end*/

/*header css start*/
header.site_header {
    padding: 20px 0;
    background-color: #fff;
}
header.site_header nav {
    width: 100%;
    max-width: 1088px;
    margin: auto;
    padding: 0 15px;
}
/*header css end*/

/*.banner section css start*/
.banner_section {
    background-image: url(../images/banner_bg_image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 35px 0;
}
.banner_section .custom_container {
    width: 100%;
    max-width: 1230px;
    margin: auto;
    padding: 0 15px;
}
.banner_image {
    position: absolute;
    top: 0;
    bottom: 0;
    max-width: 827px;
    z-index: 0;
}
.banner_content {
    margin-left: auto;
    display: table;
    position: relative;
    z-index: 1;
}
.banner_content p {
    font-size: 37px;
    line-height: 54px;
    color: #4c4c4c;
}
.banner_content h2 {
    font-size: 55px;
    line-height: 85px;
    color: #4c4c4c;
    font-weight: 300;
    margin: 30px 0 25px;
}
.banner_content h2 span {
    display: table;
    margin-left: auto;
    font-size: 75px;
}
/*.banner section css end*/

/*.lumekka section css start*/
.lumekka_section {
    padding: 50px 0;
}
.lumekka_section .custom_container {
    width: 100%;
    max-width: 1004px;
    margin: auto;
    padding: 0 15px;
}
.lumekka_sec {
    border: 10px solid #e1d7b9;
    padding: 45px 60px 36px;
}
.lumekka_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.lumekka_inner p {
    font-size: 40px;
    color: #c3af73;
}
.lumekka_inner p span {
    display: block;
    text-align: center;
    color: #fff;
    background-color: #950308;
}
.lumekka_inner h1 {
    font-size: 125px;
    color: #950308;
    line-height: 104px;
    font-weight: 900;
}
.lumekka_inner h1 span.text_mediam {
    font-size: 70px;
}
.lumekka_inner h1 span.text_small {
    font-size: 35px;
}
a.lumekka_blue {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 40px;
    height: 108px;
    color: #fff;
    padding: 0 40px;
    margin: 40px 0;
    border-radius: 54px;
    background: rgb(89,121,203);
    background: -moz-linear-gradient(90deg, rgba(89,121,203,1) 0%, rgba(79,107,178,1) 30%, rgba(89,121,203,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(89,121,203,1) 0%, rgba(79,107,178,1) 30%, rgba(89,121,203,1) 100%);
    background: linear-gradient(90deg, rgba(89,121,203,1) 0%, rgba(79,107,178,1) 30%, rgba(89,121,203,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5979cb",endColorstr="#5979cb",GradientType=1);
    box-shadow: inset 0px 8px 20px  0 rgba(255, 255, 255, 0.50), 
                inset 0px -8px 20px  0px rgba(0, 0, 0, 0.50);
    position: relative;
    transition: all 0.4s;
}
a.lumekka_red:hover,
a.lumekka_blue:hover {
    box-shadow: inset 0px 8px 20px  0 rgba(0, 0, 0, 0.50), 
                inset 0px -8px 20px  0px rgba(255, 255, 255, 0.50);
}
a.lumekka_blue span.btns_label {
    font-size: 35px;
    color: #fff;
    background-color: #c3af74;
    line-height: 41px;
    padding: 8px 10px 0px 10px;
}
a.lumekka_blue span.btns_label span {
    font-size: 30px;
}
a.lumekka_red {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 108px;
    color: #fff;
    padding: 0 60px 0 40px;
    border-radius: 54px;
    background: rgb(195,127,128);
    background: -moz-linear-gradient(90deg, rgba(195,127,128,1) 0%, rgba(178,89,91,1) 30%, rgba(195,127,128,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(195,127,128,1) 0%, rgba(178,89,91,1) 30%, rgba(195,127,128,1) 100%);
    background: linear-gradient(90deg, rgba(195,127,128,1) 0%, rgba(178,89,91,1) 30%, rgba(195,127,128,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c37f80",endColorstr="#c37f80",GradientType=1);
    box-shadow: inset 0px 8px 20px  0 rgba(255, 255, 255, 0.50), 
                inset 0px -8px 20px  0px rgba(0, 0, 0, 0.50);
    position: relative;
    transition: all 0.4s;
}
a.lumekka_red span.btns_label {
    font-size: 26px;
    color: #fff;
    background-color: #c3af74;
    line-height: 37px;
    padding: 4px 6px 4px 6px;
    display: table;
}
a.lumekka_red p {
    font-size: 60px;
    text-align: center;
    line-height: 53px;
    padding-top: 9px;
}
a.lumekka_red p span {
    display: block;
    font-size: 20px;
    line-height: 32px;
}
/*.lumekka section css end*/